<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load-Static-Global-Assets -->
    <%- include("../Components/base.ejs"); %>

    <!-- Load-Static-Local-assets -->
    <link rel="stylesheet" href="assets/css/discover.css">
</head>
<body>
    <!-- MainHeader -->
     <%- include("../Headers/GlobalNavbar.ejs"); %>
    <!-- */MainHeader -->
    
    <!-- AppBody -->
    <main>
 
    <!-- MainBanner -->
    <div class="MainBanner minBanner contentBanner bg-active-light pb-5">
        <div class="banner-container container-fluid col-md-11 pb-4" align="center">
           <div class="banner-header col-mg-8 col-lg-8 mx-auto">
            <h1 class="fw-semibold display-5 text-body-emphasis tc-active py-3">To get to know us,<br> come and meet us !</h1>
            <p class="fw-medium fs-5 tc-darker-light lead">
              Say hello to a new innovative way of shopping in africa that helps 
              you build everything from grow. sell and distrubute your goods easily...</p> 
             <div class="img-long-banner col-md-11 col-lg-12 mx-auto mt-4"> 
             </div>
           </div>
        </div>
   </div>
   <!-- /*MainBanner -->

   <!-- Our-mission-banner  -->
   <div class="MissionBanner contentBanner d-flex flex-column justify-content-center align-items-center py-5">
    <div class="banner-container container-fluid col-md-11 py-5 my-3">
        <div class="banner-content">
           <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
               <div class="col-lg-6 mx-md-auto mx-auto px-md-5">
                 <img loading="lazy" src="assets/gallery/farm-img-03.jpg" class="d-block mx-lg-auto mx-auto img-fluid rounded rounded-4" alt="Bootstrap Themes">
               </div>
               <div class="col-lg-6 mx-md-auto mx-auto px-md-5">
                 <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Our Mission</h1>
                 <p class="lead fw-medium tc-darker-light opacity-75">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
               </div>
             </div>        
        </div>
   </div> 
    </div> 
   <!-- /*ourmission-banner -->
       
     <!-- ThirdBanner -->
     <div class="ThirdBanner contentBanner bg-active-dark py-3 round-all sub-bottom">
        <div class="banner-container container-fluid col-lg-11 py-5 my-3">
            <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                <h3 class="fw-semibold display-5 tc-lighter">Over 5,000+ products are sold on <br>Evergreen every year</h3>
                <p class="lead fw-medium fs-5 tc-lighter-dark">
                    Farmers and grocers around the globe successfully sells and distribute over 12,000 <br>
                    products each year while using evergreen to leverage thier production costs.
                </p> 
            </div>
            <div class="banner-content col-md-10 mx-auto">

                <div class="row row-cols-2 row-cols-lg-4 align-items-stretch g-0 py-2">
                    <div class="col" align="center">
                         <h3 class="fw-bold display-4 tc-lighter">6.7K$</h3>
                         <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Gross Revenue</p>
                    </div>
              
                    <div class="col" align="center"> 
                        <h3 class="fw-bold display-4 tc-lighter">12,000</h3>
                        <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Products solds globally</p>
                    </div> 
              
                    <div class="col" align="center"> 
                        <h3 class="fw-bold display-4 tc-lighter">5000</h3>
                        <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Users</p>
                    </div>   
                    <div class="col" align="center"> 
                        <h3 class="fw-bold display-4 tc-lighter">230</h3>
                        <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Shops created</p>
                    </div>  
                  </div>

                  <p class="fw-light mt-3 small tc-lighter opacity-75" align="center">
                    *Nb: This numbers are facultatives and may change from time to time <br> based on the data recorded from sales.
                </p> 
            </div>
        </div>  
    </div> 


      <!-- FifthBanner -->
      <div class="FifthBanner contentBanner py-4 bg-lighter round-all sub-top">
        <div class="banner-container container-fluid col-lg-11 py-5 my-3">
            <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                <h3 class="fw-semibold display-5 tc-active col-md-7">Our Team</h3>
                <p class="lead fw-medium fs-5 col-md-6 tc-darker opacity-50 ">
                    Meet hard working and creative minds behind Evergreen 
                </p> 
            </div> 

            <div class="banner-content">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-1 d-flex justify-content-center align-items-lg-stretch">
                    
                <!-- Team-member -->
                    <div class="col-md-10 mx-md-auto mx-lg-0 col-lg-3 team-member">
                      <a href="">
                        <div class="card shadow-none border-0">
                            <div class="card-image">
                              <div class="img-gradient d-flex flex-column gap-2 justify-content-center align-items-center">
                                <span class="tc-lighter-light fw-medium fs-2"><i class="bi bi-linkedin"></i></span>
                                <span class="tc-lighter-light fw-medium fs-5">View profile</span>
                              </div>  
                              <img  loading="lazy" src="assets/gallery/ceoimage.jpg" class="partners-img rounded rounded-3" alt="Evergreen-farms-ceo">
                            </div>
                            <div class="card-body" align="center">
                              <div class="card-text d-lg-flex flex-column gap-1">
                                <span class="d-block fs-4 tc-darker-dark fw-semibold">Leslie Odiambo</span>
                                <span class="d-block fs-5 tc-darker fw-medium">CEO & Founder</span>
                               </div>  
                            </div>
                          </div>
                      </a>
                    </div> 
                <!-- /*Team-member -->
                     
                <!-- Team-member -->
                <div class="col-md-10 mx-md-auto  mx-lg-0 col-lg-3 team-member">
                    <a href="">
                      <div class="card shadow-none border-0">
                          <div class="card-image">
                            <div class="img-gradient d-flex  flex-column gap-2 justify-content-center align-items-center">
                                <span class="tc-lighter-light fw-medium fs-2"><i class="bi bi-linkedin"></i></span>
                                <span class="tc-lighter-light fw-medium fs-5">View profile</span>
                            </div> 
                            <img  loading="lazy" src="assets/gallery/axel-coufounder.jpg" class="partners-img rounded rounded-3" alt="Evergreen-farms-ceo">
                          </div>
                          <div class="card-body" align="center">
                            <div class="card-text d-lg-flex flex-column gap-1">
                              <span class="d-block fs-4 tc-darker-dark fw-semibold">Axel Tokam</span>
                              <span class="d-block fs-5 tc-darker fw-medium">CTO & Co-Founder</span>
                             </div>  
                          </div>
                        </div>
                    </a>
                  </div> 
              <!-- /*Team-member --> 
                  </div>
                <div class="row align-items-md-stretch">
 
                </div>
            </div>

        </div>  
      </div> 
      <!-- /**fifthBanner -->


      <!-- SixthBanner -->
      <div class="SixthBanner contentBanner minBanner gradient-container py-4 mt-4">
        <div class="banner-gradient"></div>
        <div class="banner-container container-fluid col-lg-11 py-5 my-3 gradient-content">
            <div class="banner-header py-4 my-5 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                <h3 class="fw-semibold display-5 tc-active col-md-7">Got any question ?</h3>
                <p class="lead fw-medium fs-5 col-md-6 tc-lighter-light opacity-75">
                    Join the biggest community of farmers and grocers around the globe on Evergreen Farms for free
                </p> 
                <div class="btn-links d-lg-flex gap-3 justify-content-between align-items-center">
                  <a href="" class="btn btn-darker d-block fs-5 fw-medium mt-3" type="button"><span class="bi bi-send me-2"></span> Contact us</a>
               </div>
                 </div> 
        </div>  
      </div> 
      <!-- /**SixthBanner -->

<!-- SeventhBanner -->
<div class="SeventhBanner contentBanner mt-5 py-4 d-flex flex-column justify-content-center align-items-center"> 
    <div class="banner-container container-fluid col-md-11 py-5 my-3">
         <div class="banner-content">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-lg-6 mx-md-auto mx-auto px-md-5">
                  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Responsive left-aligned hero with image</h1>
                  <p class="lead fs-medium tc-darker-light">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
                   </div>
                </div>
                <div class="col-lg-6 mx-md-auto mx-auto px-md-5">
                  <img loading="lazy" src="assets/gallery/boys-with-corns.jpg" class="d-block mx-lg-auto mx-auto img-fluid rounded rounded-4" alt="Bootstrap Themes">
                </div>
              </div>        
         </div>
    </div>  
  </div> 
  <!-- /**SeventhBanner --> 


  <!-- ThirdBanner -->
  <div class="ThirdBanner contentBanner bg-active-dark py-3 round-all sub-bottom minBanner">
    <div class="banner-container container-fluid col-lg-11 py-5 my-3">
        <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
            <h3 class="fw-semibold display-5 tc-lighter">Grown and concerved naturally</h3>
            <p class="lead fw-medium col-md-7 fs-5 tc-lighter-dark opacity-75">
                Farmers and grocers from Evergreen focus safe and natural farming in other to provide natural products for end users to keep them safe and in good health while consuming.
            </p> 
        </div>
        <div class="banner-content col-md-10 mx-auto">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">


                <div class="col-md-12 farm-img-bx">
                  <div class="card card-cover h-100 border-0 rounded-3 shadow-lg" style="background-image: url('assets/gallery/farm-img-03.jpg');">
                    <div class="bx-gradient"></div>
                    <div class="d-flex flex-column mt-5 mb-3 h-100 p-5 px-3 text-white text-shadow-1 bx-content">
                      <h3 class="pt-5 mt-5 mb-5 fs-3 lh-1 fw-bold"></h3>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img loading="lazy" src="" alt="Evergreen Farms" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                          <small>Kenya</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                          <small>1s</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                
                <div class="col-md-12 farm-img-bx">
                    <div class="card card-cover h-100 border-0 rounded-3 shadow-lg" style="background-image: url('assets/gallery/farm-img-04.jpg');">
                      <div class="bx-gradient"></div>
                      <div class="d-flex flex-column mt-5 mb-3 h-100 p-5 px-3 text-white text-shadow-1 bx-content">
                        <h3 class="pt-5 mt-5 mb-5 fs-3 lh-1 fw-bold"></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                          <li class="me-auto">
                            <img loading="lazy" src="" alt="Evergreen Farms" width="32" height="32" class="rounded-circle border border-white">
                          </li>
                          <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Kenya</small>
                          </li>
                          <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>1s</small>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  
                <div class="col-md-12 farm-img-bx">
                    <div class="card card-cover h-100 border-0 rounded-3 shadow-lg" style="background-image: url('assets/gallery/farm-img-08.jpg');">
                      <div class="bx-gradient"></div>
                      <div class="d-flex flex-column mt-5 mb-3 h-100 p-5 px-3 text-white text-shadow-1 bx-content">
                        <h3 class="pt-5 mt-5 mb-5 fs-3 lh-1 fw-bold"></h3>
                        <ul class="d-flex list-unstyled mt-auto">
                          <li class="me-auto">
                            <img loading="lazy" src="" alt="Evergreen Farms" width="32" height="32" class="rounded-circle border border-white">
                          </li>
                          <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                            <small>Kenya</small>
                          </li>
                          <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                            <small>1s</small>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              
              </div>
        </div>
    </div>  
</div> 
<!-- /*ThirdBanner -->

  
       <!-- FouthBanner -->
       <div class="FouthBanner contentBanner minBanner bg-info-subtle py-3 round-all sub-top">
        <div class="banner-container container-fluid col-lg-11 py-5 my-3">
            <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                <h3 class="fw-semibold display-5">Partners & Affiliated Grocers</h3>
                <p class="lead fw-medium fs-5">
                    Trusted by 200 grocers and Farmers to scale thier businesses <br> and distribute around the continent
                </p> 
            </div> 
            <div class="banner-content col-md-10 mx-auto"> 
                <div class="row row-cols-2 row-cols-lg-5 align-items-stretch justify-content-center g-0 py-2">
                    <div class="col p-3" align="center">
                     <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                    </div>
                    <div class="col p-3" align="center">
                     <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                    </div>
                    <div class="col p-3" align="center">
                     <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                    </div>
                    <div class="col p-3" align="center">
                     <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                    </div> 
                </div>
            </div>      
        </div>  
    </div> 

 

    </main>
    <!-- /*AppBody -->

    
    <%- include("../Footers/GlobalFooter.ejs"); %>
</body>
</html>