<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../Components/base.ejs"); %>
</head>
<body>
    <!-- MainHeader -->
     <%- include("../Headers/GlobalNavbar.ejs"); %>
    <!-- */MainHeader -->


</body>
</html>