<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load-Static-Global-Assets -->
    <%- include("../Components/base.ejs"); %>

    <!-- Load-Static-Local-assets -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <!-- MainHeader -->
     <%- include("../Headers/GlobalNavbar.ejs"); %>
    <!-- */MainHeader -->
    
    <!-- AppBody -->
    <main>

    <!-- MainBanner -->
    <div class="MainBanner contentBanner bg-active-light">
         <div class="banner-container container-fluid col-lg-11 pb-4">
             <div class="row d-flex align-items-center py-5 px-4">

                <!-- Banner-content -->
                <div class="bx-one bx-text col-md-6 py-3 d-flex flex-column gap-4">
                    <h1 class="fw-semibold display-3 tc-active">Circular Food Production An Resselling Platform</h1>
                    <p class="fw-medium fs-5 tc-darker-light lead">
                       Say hello to a new innovative way of shopping in africa that helps 
                       you build everything from grow. sell and distrubute your goods easily...</p> 
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start align-items-center">
                        <a href="/" class="btn btn-darker btn-lg fs-5 fw-medium">Create a new shop <span class="bi bi-arrow-right fw-black ms-1 fs-5"></span></a> 
                        <span class="btn-lg fw-light mx-2 tc-darker-light opacity-75 d-flex justify-content-center">OR</span>
                        <a href="/" class="btn btn-outline-active btn-lg fs-5 fw-medium">Start shopping <span class="bi bi-cart-plus fw-black ms-1 fs-5"></span></a> 
                    </div>
                </div>
                
                <!-- Banner-image -->
                <div class="bx-two bx-img col-md-6 py-3">
                    <div class="img-container mx-auto">
                       <img src="assets/gallery/countryside-woman-holding-plant-leaves.jpg" alt="evergreenfarms-image-of-girl-in-farm" />
                    </div>
                </div>

             </div>
         </div>
    </div>
    <!-- /*MainBanner -->

    <!-- SecondBanner -->
    <div class="SecondBanner contentBanner py-5">
        <div class="banner-container container-fluid col-lg-11 py-5 my-5">
                <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-active">Why should you sell on <br>Evergreen ?</h3>
                    <p class="lead fw-medium fs-5 tc-darker-light">
                        Say hello to a new innovative way of shopping in africa that helps.
                    </p> 
                </div>

                <div class="banner-content">
                    <div class="container pt-3 pb-4" id="featured-3"> 
                        <div class="row g-3 row-cols-1 row-cols-lg-2 align-items-stretch">

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-primary-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-danger-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>


                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-info-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-success-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>
                          

                          
                        </div>
                      </div>
                </div>
        </div>  
    </div> 
    <!-- /*SecondBanner -->


        <!-- ThirdBanner -->
        <div class="ThirdBanner contentBanner bg-active-dark py-3 sub-bottom">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-lighter">Over 5,000+ products are sold on <br>Evergreen every year</h3>
                    <p class="lead fw-medium fs-5 tc-lighter-dark">
                        Farmers and grocers around the globe successfully sells and distribute over 12,000 <br>
                        products each year while using evergreen to leverage thier production costs.
                    </p> 
                </div>
                <div class="banner-content col-md-10 mx-auto">

                    <div class="row row-cols-2 row-cols-lg-4 align-items-stretch g-0 py-2">
                        <div class="col" align="center">
                             <h3 class="fw-bold display-2 tc-lighter">6.7K$</h3>
                             <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Gross Revenue</p>
                        </div>
                  
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">12,000</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Products solds globally</p>
                        </div> 
                  
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">5000</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Users</p>
                        </div>   
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">230</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Shops created</p>
                        </div>  
                      </div>

                      <p class="fw-light mt-3 small tc-lighter opacity-75" align="center">
                        *Nb: This numbers are facultatives and may change from time to time <br> based on the data recorded from sales.
                    </p> 
                </div>
            </div>  
        </div> 



        
        <!-- FouthBanner -->
        <div class="FouthBanner contentBanner minBanner bg-info-subtle py-3 sub-top">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5">Partners & Affiliated Grocers</h3>
                    <p class="lead fw-medium fs-5">
                        Trusted by 200 grocers and Farmers to scale thier businesses <br> and distribute around the continent
                    </p> 
                </div> 
                <div class="banner-content col-md-10 mx-auto"> 
                    <div class="row row-cols-2 row-cols-lg-5 align-items-stretch justify-content-center g-0 py-2">
                        <div class="col p-3" align="center">
                         <img src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div> 
                    </div>
                </div>      
            </div>  
        </div> 

        <!-- trailing-space -->   
        <div class="bg-info-subtle sub-bottom"></div>


          <!-- FifthBanner -->
          <div class="FifthBanner contentBanner py-3 bg-lighter sub-top">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                        
            </div>  
        </div> 


      </main>
    <!-- /*AppBody -->

</body>
</html>