<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load-Static-Global-Assets -->
    <%- include("../Components/base.ejs"); %>

    <!-- Load-Static-Local-assets -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <!-- MainHeader -->
     <%- include("../Headers/GlobalNavbar.ejs"); %>
    <!-- */MainHeader -->
    
    <!-- AppBody -->
    <main>

    <!-- MainBanner -->
    <div class="MainBanner contentBanner bg-active-light">
         <div class="banner-container container-fluid col-lg-11 pb-3">
             <div class="row d-flex align-items-center py-5 px-4">

                <!-- Banner-content -->
                <div class="bx-one bx-text col-md-6 py-3 d-flex flex-column gap-4">
                    <h1 class="fw-semibold display-3 tc-active">Connections that spark growth</h1>
                    <p class="fw-medium fs-5 tc-darker-light text">
                       Say hello to a new innovative way of shopping in africa that helps 
                       you build everything from grow. sell and distrubute your goods easily...</p> 
                    <p class="">
                        <a href="/" class="btn btn-darker fs-5 fw-medium">Create a shop</a> 
                    </p>
                </div>
                
                <!-- Banner-image -->
                <div class="bx-two bx-img col-md-6 py-3">
                    <div class="img-container mx-auto">
                       <img src="assets/gallery/countryside-woman-holding-plant-leaves.jpg" alt="evergreenfarms-image-of-girl-in-farm" />
                    </div>
                </div>

             </div>
         </div>
    </div>
    <!-- /*MainBanner -->


      </main>
    <!-- /*AppBody -->

</body>
</html>