<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load-Static-Global-Assets -->
    <%- include("../Components/base.ejs"); %>

    <!-- Load-Static-Local-assets -->
    <link rel="stylesheet" href="assets/css/home.css">
</head>
<body>
    <!-- MainHeader -->
     <%- include("../Headers/GlobalNavbar.ejs"); %>
    <!-- */MainHeader -->
    
    <!-- AppBody -->
    <main>

    <!-- MainBanner -->
    <div class="MainBanner contentBanner bg-active-light">
         <div class="banner-container container-fluid col-lg-11 pb-4">
             <div class="row d-flex align-items-center py-5 px-4">

                <!-- Banner-content -->
                <div class="bx-one bx-text col-md-6 py-3 d-flex flex-column gap-4">
                    <h1 class="fw-semibold display-3 tc-active">Circular Food Production An Resselling Platform</h1>
                    <p class="fw-medium fs-5 tc-darker-light lead">
                       Say hello to a new innovative way of shopping in africa that helps 
                       you build everything from grow. sell and distrubute your goods easily...</p> 
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start align-items-center">
                        <a href="/" class="btn btn-darker btn-lg fs-5 fw-medium">Create a new shop <span class="bi bi-arrow-right fw-black ms-1 fs-5"></span></a> 
                        <span class="btn-lg fw-light mx-2 tc-darker-light opacity-75 d-flex justify-content-center">OR</span>
                        <a href="/" class="btn btn-outline-active btn-lg fs-5 fw-medium">Start shopping <span class="bi bi-cart-plus fw-black ms-1 fs-5"></span></a> 
                    </div>
                </div>
                
                <!-- Banner-image -->
                <div class="bx-two bx-img col-md-6 py-3">
                    <div class="img-container mx-auto">
                       <img  loading="lazy" src="assets/gallery/countryside-woman-holding-plant-leaves.jpg" alt="evergreenfarms-image-of-girl-in-farm" />
                    </div>
                </div>

             </div>
         </div>
    </div>
    <!-- /*MainBanner -->

    <!-- SecondBanner -->
    <div class="SecondBanner contentBanner py-5">
        <div class="banner-container container-fluid col-lg-11 py-5 my-5">
                <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-active">Why should you sell on <br>Evergreen ?</h3>
                    <p class="lead fw-medium fs-5 tc-darker opacity-50">
                        Say hello to a new innovative way of shopping in africa that helps.
                    </p> 
                </div>

                <div class="banner-content">
                    <div class="container pt-3 pb-4" id="featured-3"> 
                        <div class="row g-3 row-cols-1 row-cols-lg-2 align-items-stretch">

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-primary-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-danger-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>


                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-info-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>

                          <div class="col px-3">
                            <div class="banner-feature rounded rounded-5 bg-success-subtle d-flex align-items-center p-4">
                                <div class="banner-icon d-inline-flex align-items-center justify-content-center fs-2 pe-4">
                                  <span class="bi bi-collection"></span>
                                </div>
                                <div class="w-100">
                                <h4 class="fw-medium tc-darker fs-4">Featured title</h4>
                                <h4 class="fw-semibold tc-darker fs-3">Featured title</h4>
                                <p class="lead fw-medium tc-darker-light fs-5">Paragraph of text beneath the heading to explain the heading.</p>
                                <a href="" class="fw-semibold tc-darker fs-5">Start selling now</a>
                                </div>
                              </div>
                          </div>
                          

                          
                        </div>
                      </div>
                </div>
        </div>  
    </div> 
    <!-- /*SecondBanner -->


        <!-- ThirdBanner -->
        <div class="ThirdBanner contentBanner bg-active-dark py-3 round-all sub-bottom">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 my-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-lighter">Over 5,000+ products are sold on <br>Evergreen every year</h3>
                    <p class="lead fw-medium fs-5 tc-lighter-dark">
                        Farmers and grocers around the globe successfully sells and distribute over 12,000 <br>
                        products each year while using evergreen to leverage thier production costs.
                    </p> 
                </div>
                <div class="banner-content col-md-10 mx-auto">

                    <div class="row row-cols-2 row-cols-lg-4 align-items-stretch g-0 py-2">
                        <div class="col" align="center">
                             <h3 class="fw-bold display-2 tc-lighter">6.7K$</h3>
                             <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Gross Revenue</p>
                        </div>
                  
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">12,000</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Products solds globally</p>
                        </div> 
                  
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">5000</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Users</p>
                        </div>   
                        <div class="col" align="center"> 
                            <h3 class="fw-bold display-2 tc-lighter">230</h3>
                            <p class="fw-light w-100 fs-5 tc-lighter-dark opacity-75">Shops created</p>
                        </div>  
                      </div>

                      <p class="fw-light mt-3 small tc-lighter opacity-75" align="center">
                        *Nb: This numbers are facultatives and may change from time to time <br> based on the data recorded from sales.
                    </p> 
                </div>
            </div>  
        </div> 



        
        <!-- FouthBanner -->
        <div class="FouthBanner contentBanner minBanner bg-info-subtle py-3 round-all sub-top">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5">Partners & Affiliated Grocers</h3>
                    <p class="lead fw-medium fs-5">
                        Trusted by 200 grocers and Farmers to scale thier businesses <br> and distribute around the continent
                    </p> 
                </div> 
                <div class="banner-content col-md-10 mx-auto"> 
                    <div class="row row-cols-2 row-cols-lg-5 align-items-stretch justify-content-center g-0 py-2">
                        <div class="col p-3" align="center">
                         <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div>
                        <div class="col p-3" align="center">
                         <img  loading="lazy" src="assets/gallery/Evergreen-farms-logo.png" class="partners-img" alt="" srcset="">
                        </div> 
                    </div>
                </div>      
            </div>  
        </div> 

        <!-- trailing-space -->   
        <div class="bg-info-subtle sub-bottom"></div>


          <!-- FifthBanner -->
          <div class="FifthBanner contentBanner py-4 bg-lighter round-all sub-top">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-active col-md-7">Join us & start your online shop for free</h3>
                    <p class="lead fw-medium fs-5 col-md-6 tc-darker opacity-50 ">
                        A revolutionnary way of ditributing pure and natural products around the globe
                    </p> 
                </div> 

                <div class="banner-content">
                    <div class="row align-items-md-stretch">

                        <div class="col-md-6 px-md-5 py-2">
                          <div class="h-100 p-5 rounded rounded-4 bg-primary-subtle border border-1">
                            <h2 class="fs-2 fw-semibold tc-darker pb-3">I'm a grocer/farmer</h2>
                            <p class="fs-5 fw-normal tc-darker-light opacity-75">
                                Sell and distribute all your products
                                directly online freely. Simplify your 
                                incoicing process,and say goodbye to 
                                transport and distribution fees.</p>
                            <img  loading="lazy" src="assets/gallery/sign-in-banner-one.svg" class="banner-img d-block mx-lg-auto img-fluid pt-3 mt-5 mb-5" alt="Open-new-shop-evergreen-farms" />  
                            <a class="btn btn-darker fs-6 fw-medium mt-3" href="" type="button">Open a new shop</a>
                          </div>
                        </div>

                        <div class="col-md-6 px-md-5 py-2">
                          <div class="h-100 p-5 rounded  bg-success-subtle border rounded-3">
                            <h2 class="fs-2 fw-semibold tc-darker pb-3">I'm a user</h2>
                            <p class="fs-5 fw-normal tc-darker-light opacity-75">
                                Sell and distribute all your products
                                directly online freely. Simplify your 
                                incoicing process,and say goodbye to 
                                transport and distribution fees.
                            </p> 
                            <img  loading="lazy" src="assets/gallery/sign-in-banner-one.svg" class="banner-img d-block mx-lg-auto img-fluid pt-3 mt-5 mb-5" alt="Open-new-shop-evergreen-farms" /> 
                            <button class="btn btn-darker fs-6 fw-medium mt-3" type="button">Start shopping</button>
                          </div>
                        </div>

                      </div>
                </div>

            </div>  
          </div> 
          <!-- /**fifthBanner -->

          


          <!-- SixthBanner -->
          <div class="SixthBanner contentBanner minBanner gradient-container py-4 mt-4">
            <div class="banner-gradient"></div>
            <div class="banner-container container-fluid col-lg-11 py-5 my-3 gradient-content">
                <div class="banner-header py-4 my-5 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-active col-md-7">What are you waiting for ?</h3>
                    <p class="lead fw-medium fs-5 col-md-6 tc-lighter-light opacity-75">
                        Join the biggest community of farmers and grocers around the globe on Evergreen Farms for free
                    </p> 
                    <button class="btn btn-darker fs-5 fw-medium mt-3" type="button">Yes, i'm joigning !</button>
                </div> 
            </div>  
          </div> 
          <!-- /**SixthBanner -->


          <!-- SeventhBanner -->
          <div class="SeventhBanner contentBanner mt-5 py-4 d-flex flex-column justify-content-center align-items-center"> 
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                 <div class="banner-content">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-lg-6">
                          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Responsive left-aligned hero with image</h1>
                          <p class="lead fs-medium tc-darker-light">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
                            <button type="button" class="btn btn-darker btn-lg px-4 me-md-2">Learn more <span class="bi bi-arrow-right ms-3"></span></button> 
                          </div>
                        </div>
                        <div class="col-sm-8 col-lg-6 mx-lg-auto mx-auto">
                          <img loading="lazy" src="assets/gallery/farm-img-01.jpg" class="d-block mx-lg-auto mx-auto img-fluid rounded rounded-4 col-md-10" alt="Bootstrap Themes">
                        </div>
                      </div>        
                 </div>
            </div>  
          </div> 
          <!-- /**SeventhBanner --> 
          
          <!-- EightBanner -->
          <div class="EightBanner contentBanner minBanner py-4 border border-1 border-start-0 border-end-0 bg-lighter gradient-container">
            <img loading="lazy" src="assets/gallery/fresh-foods.jpg" class="gradient-bg-img" alt="">
            <div class="banner-gradient"></div>
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="col-md-5 mx-auto col-lg-11 rounded-4 border bg-body-tertiary px-3 py-5 my-5 gradient-content">
                    <div class="banner-header mt-4 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                        <h3 class="fw-semibold display-5 tc-active col-md-7">Join us now for free.</h3>
                        <p class="lead fw-medium fs-5 col-md-6 tc-darker-light">
                            Evergreen farm is free for all farmers and grocers around the world
                        </p>  
                    </div> 
                    <form class="p-3 col-md-5 mx-lg-auto">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control input-active fw-medium fs-5 rounded rounded-4 shadow-none" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput" class="tc-darker-light">Email address</label>
                      </div>  
                      <button class="w-100 btn btn-lg fs-5 fw-medium btn-darker" type="submit">Create account</button>  
                    </form>
                    <div class="col-md-8 mx-lg-auto options-tab mb-4 mt-4">
                      <span class="tc-darker fs-6 fw-medium mx-2">
                        <i class="bi bi-check-lg tc-darker-dark me-1"></i>
                         No credit card required
                      </span>   
                      <span class="tc-darker fs-6 fw-medium mx-2">
                        <i class="bi bi-check-lg tc-darker-dark me-1"></i>
                         Real time invoices data
                      </span>   
                      <span class="tc-darker fs-6 fw-medium mx-2">
                        <i class="bi bi-check-lg tc-darker-dark me-1"></i>
                         Unlimited shops available
                      </span>  
                    </div>
                  </div>

            </div>  
          </div>
          <!-- /**EightBanner -->

           <!-- NinethBanner -->
           <div class="NinethBanner contentBanner mt-5 py-4 d-flex flex-column justify-content-center align-items-center"> 
            <div class="banner-container container-fluid col-lg-10 py-5 my-3">
                 <div class="banner-content">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-sm-8 col-lg-6 mx-lg-auto mx-auto">
                          <img loading="lazy" src="assets/gallery/hand-holding-fresh-fruits.jpg" class="d-block mx-lg-auto mx-auto img-fluid rounded rounded-4 col-md-10" alt="Bootstrap Themes">
                        </div>
                        <div class="col-lg-6">
                          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Responsive left-aligned hero with image</h1>
                          <p class="lead fs-medium tc-darker-light">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
                            <button type="button" class="btn btn-darker btn-lg px-4 me-md-2">Learn more <span class="bi bi-arrow-right ms-3"></span></button> 
                          </div>
                        </div>
                      </div>        
                 </div>
            </div>  
          </div> 
          <!-- /**NinethBanner --> 

          
           <!-- TenthBanner -->
           <div class="TenthBanner contentBanner minBanner mt-5 py-5 d-flex flex-column justify-content-center align-items-center border border-success-subtle border-1 border-start-0 border-end-0 bg-success-subtle round-all sub-bottom"> 
            <div class="banner-container container-fluid col-lg-10 py-5 my-5">
                <div class="bg-primary-subtle col-md-5 rounded rounded-4 p-5">
                    <h1 class="tc-darker-dark fw-semibold display-5">Get in touch</h1>
                    <p class="fs-5 fw-medium tc-darker mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Praesentium quae, modi earum reprehenderit quam debitis.</p>
                    <button class="btn btn-active btn-sm fs-5 fw-medium"> Contact us <span class="bi bi-arrow-right ms-2"></span></button>
                </div>
            </div>  
            </div> 
            <br>
           <!-- TenthBanner -->  
           
           
                   <!-- LastBanner -->
          <div class="LastBanner minBanner contentBanner py-4 bg-active round-all sub-top">
            <div class="banner-container container-fluid col-lg-11 py-5 my-3">
                <div class="banner-header py-4 mt-3 d-flex align-items-center flex-column justify-content-center gap-2" align="center">
                    <h3 class="fw-semibold display-5 tc-lighter-light col-md-7">Ready to get started ?</h3>
                    <p class="lead fw-medium fs-5 col-md-6 tc-lighter opacity-75 ">
                        Create your free shop now, no credit card needed.
                    </p>
                    <button class="btn btn-dark btn-sm fs-5 fw-medium"> Create an account </button>
                </div>  
            </div>  
          </div> 
          <!-- /**LastBanner -->

     
      </main>
    <!-- /*AppBody -->

    
    <%- include("../Footers/GlobalFooter.ejs"); %>
</body>
</html>