<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="" type="image/x-icon" />
<title>EvergreenFarm | <%= locals.viewtitle %></title> 
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/theme.css" />
<link rel="stylesheet" href="assets/icons/bootstrap-icons.css" />
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/vue.js"></script>