<link rel="stylesheet" href="assets/css/globalnav.css" />
<header class="GlobalNav bg-active-light py-1 sticky-top">
    <nav class="navbar navbar-expand-lg navbar-default bg-transparent" aria-label="Thirteenth navbar example">
        <div class="container-fluid col-md-11">
          <a class="navbar-brand" href="/home">
            <img src="assets/gallery/Evergreen-farms-logo.png" alt="evergreen-farms-logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
            <ul class="navbar-nav col-lg-8 justify-content-lg-center align-items-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/marketplace">Marketplace</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/about">Our mission</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li> 
            </ul>
            <div class="d-lg-flex col-lg-4 justify-content-lg-end align-items-center">
              <a href="" class="btn btn-default border-0 me-3">Log in</a>
              <a href="" class="btn btn-darker">Create Account</a>
            </div>
          </div>
        </div>
      </nav>
</header>

<div class="col-lg-5 mx-auto mt-5">
  <h3 class="title-lg fw-bold">Bigger Hello World</h3>
  <h3 class="title-md fw-semibold">Hello World</h3>
  <p class="text fw-medium">Evergreen Farms was started as a small scale vegetable home orchard in Nyalenda slums in 
    Kisumu, Kenya by Leisley Odhiambo (Odhis). At the time, it was meant for subsistence, to 
    support him and his family, having lost his job as a Compliance Officer just weeks before. With 
    no experience nor expertise in farming whatsoever, he managed to set up a small garden, 
    which unbeknownst to him, would be a sanctuary for many who had suffered a similar fate, and
    were then stranded hungry</p>
  <p class="text-sm fw-black">small text comes here</p>   
</div>