<header class="navbar border-bottom py-0">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
    <div class="col-md-3 mb-0 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="assets/gallery/Evergreen-farms-logo.png" width="150" height="auto" alt="evergreen-farms-logo" />
      </a>
    </div> 
 
    <ul class="col-12 col-md-5 mb-0 justify-content-center mb-md-0">
       <form action="" method="" class="form-inline col-lg-12 col-md-auto d-flex border border-1 border-dark-subtle rounded rounded-3 bg-light div-active"> 
            <input type="text" name="" id="" class="form-control fs-6 fw-medium ps-4 bg-transparent rounded rounded-4 border-0" placeholder="Search here..." />
            <button type="button" class="btn btn-light rounded rounded-4 bg-transparent">
                <span class="bi bi-search fs-6"></span>
            </button> 
       </form>
    </ul>

      <div class="col-md-3 text-end my-3">
          <a href="" class="fs-6 border-0 link-active me-2"><span class="bi bi-globe fw-black me-1 fs-5"></span></a>
          <a href="" class="fs-6 border-0 link-active me-2"><span class="bi bi-cart3 fw-black fs-5"></span></a> 
          <button type="button" class="btn btn-outline-dark fw-medium fs-6 me-2">Login</button>
          <button type="button" class="btn btn-darker fs-6 fw-medium">Sign-up</button>
        </div>
   
</div>
  </header> 
