<style>
 
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
</style> 
<div class="secondnav bg-active pb-1">
    <div class="nav-scroller container py-1">
        <nav class="nav col-md-9 mx-auto fw-medium d-flex justify-content-between">
          <a class="nav-item nav-link tc-lighter-dark link-light active" href="#">Dairy</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Pantry</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Fruit & Veg</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Meat</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Ready to eat</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Drinks</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Organic</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">Sale</a>
          <a class="nav-item nav-link tc-lighter-dark link-light" href="#">New</a> 
        </nav>
      </div>
</div>
