<style>
 
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
</style> 
<div class="secondnav bg-active pb-1">
    <div class="nav-scroller container py-1">
        <nav class="nav col-md-10 mx-auto fw-medium small d-flex justify-content-between">
          <a class="nav-item nav-link text-white link-body-emphasis active" href="#">DAIRY</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">PANTRY</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">FRUIT & VEG</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">MEAT</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">READY TO EAT</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">DRINKS</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">ORGANIC</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">SALE</a>
          <a class="nav-item nav-link text-white link-body-emphasis" href="#">NEW</a> 
        </nav>
      </div>
</div>
