<style>
 
      .nav-scroller { 
        z-index: 4;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .nav-item:hover .item-menu{
            display: block !important; 
       }
      .nav-item .item-menu{ 
        display: none;
        position:absolute;  
        left: 0;
        right: 0;
        background-color: #fff;
        padding:15px 15px;   
        z-index:5 !important;
        margin-top: 5px;
        box-shadow: 3px 4px 4px 4px rgba(0, 0, 0, 0.13);
      }
      a.menu-link{
        padding: 0px !important;
        margin: 0px !important;
        width: auto !important;
        display:block !important;
      }
</style> 
<div class="secondnav bg-active pb-1" id="secondnav">
    <div class="nav-scroller container py-1">
        <nav class="nav col-md-9 mx-auto fw-medium d-flex justify-content-between">
          <a class="nav-item nav-link tc-lighter-dark link-light active" id="navItem_0" href="#">
            <span class="label">Dairy</span> 
            <!-- item-menu -->  
            <div class="item-menu tc-darker-dark rounded rounded-1 col-lg-10 px-0 mx-auto px-4">
                 <div class="menu-header" align="start">
                       <span class="d-block fs-5 fw-semibold tc-darker text-body-emphasis">Dairy Products</span>
                       <span class="d-block fs-6 tc-darker-light text-body-secondary opacity-75">Some category description text</span>
                 </div>
                 <div class="menu-container row g-4 py-5 row-cols-1 row-cols-lg-3">
                      <div class="col">Try Catch</div>
                 </div>
            </div>
            <!-- /*item-menu -->
          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_1" href="#">
            <span class="label">Pantry</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_2" href="#">
            <span class="label">Fruit & Veg</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_3" href="#">
            <span class="label">Meat</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_4" href="#">
            <span class="label">Ready to eat</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_5" href="#">
            <span class="label">Drinks</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_6" href="#">
            <span class="label">Organic</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_7" href="#">
            <span class="label">Sale</span>

          </a>
          <a class="nav-item nav-link tc-lighter-dark link-light" id="navItem_8" href="#">
            <span class="label">New</span>

          </a> 
        </nav>
      </div>

      
</div>

