/* Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Black.eot');
  src: local('Poppins Black'), local('Poppins-Black'),
      url('../fonts/poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Black.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Black.woff') format('woff'),
      url('../fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Bold.eot');
  src: local('Poppins Bold'), local('Poppins-Bold'),
      url('../fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
      url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
      url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('../fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Medium.woff') format('woff'),
      url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
      url('../fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
      url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
.fw-black{
  font-weight: 900;
  font-style: normal;
}

/* AppTheme */
   :root{
     /* Colors */
      /* Active-colors */ 
      --cl-active-dark: #098761;
      --cl-active: #0a996f;
      --cl-active-light: #d7fec8;

      /* Light-colors */
      --cl-light:#f1f1f1;
      --cl-lighter-dark:#E1E1E1;
      --cl-lighter:#fefffc;
      --cl-lighter-light: #efeeec;

      /* Dark-colors */
      --cl-darker-dark: #141414;
      --cl-darker: #1b1b1b;
      --cl-darker-light: #525252;

      /* Secondary-colors */
      --cl-secondary-dark: #C23C02;
      --cl-secondary: #EC4701;
      --cl-secondary-light: #ECE5D2;
   }

/* Backgrounds */
    /* Active-colors */
   .bg-active{ background-color: var(--cl-active); }
   .bg-active-dark{ background-color: var(--cl-active-dark); }  
   .bg-active-light{ background-color: var(--cl-active-light); } 

   /* Lighter-colors */
   .bg-lighter{ background-color: var(--cl-lighter); }
   .bg-lighter-dark{ background-color: var(--cl-lighter-dark); }  
   .bg-lighter-light{ background-color: var(--cl-lighter-light); } 

   
    /* Darker-colors */
   .bg-darker{ background-color: var(--cl-darker); }
   .bg-darker-dark{ background-color: var(--cl-darker-dark); }  
   .bg-darker-light{ background-color: var(--cl-darker-light); }
    
   
    /* Secondary-colors */
   .bg-secondary{ background-color: var(--cl-secondary); }
   .bg-secondary-dark{ background-color: var(--cl-secondary-dark); }  
   .bg-secondary-light{ background-color: var(--cl-secondary-light); } 

/* Text-Colors */
    /* Active-colors */
    .tc-active{ color: var(--cl-active); }
    .tc-active-dark{ color: var(--cl-active-dark); }  
    .tc-active-light{ color: var(--cl-active-light); } 
 
    /* Lighter-colors */
    .tc-lighter{ color: var(--cl-lighter); }
    .tc-lighter-dark{ color: var(--cl-lighter-dark); }  
    .tc-lighter-light{ color: var(--cl-lighter-light); } 
 
    
     /* Darker-colors */
    .tc-darker{ color: var(--cl-darker); }
    .tc-darker-dark{ color: var(--cl-darker-dark); }  
    .tc-darker-light{ color: var(--cl-darker-light); }
     
    
     /* Secondary-colors */
    .tc-secondary{ color: var(--cl-secondary); }
    .tc-secondary-dark{ color: var(--cl-secondary-dark); }  
    .tc-secondary-light{ color: var(--cl-secondary-light); }    


/* Global-Components */    
/* Body && Components */
  body{
    background-color: var(--cl-lighter);
    color: var(--cl-darker);
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4em; 
  }
  

  /* Buttons */
  .btn:not(.btn-default){
     border-radius: 16px;
     padding: 10px 25px 10px 25px;
     border: none;
  }
  .btn-active, .btn-darker { 
    color:var(--cl-lighter-light) !important; 
  }
  .btn-active:active, .btn-darker:active{
    opacity:0.9 !important; 
  }

  /* Active-Buttons */
  .btn-active{
     background-color: var(--cl-active);
  }
  .btn-active:active{ 
    background-color: var(--cl-active-light) !important; 
  }
  .btn-active:hover{
    background-color: var(--cl-active-dark) !important; 
  }

 /* Dark-Buttons */ 
 .btn-darker{
    background-color: var(--cl-darker);
 }
 .btn-darker:active{ 
   background-color: var(--cl-darker-light) !important; 
 }
 .btn-darker:hover{
   background-color: var(--cl-darker-dark) !important; 
 }