/* Fonts */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Black.eot');
  src: local('Poppins Black'), local('Poppins-Black'),
      url('../fonts/poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Black.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Black.woff') format('woff'),
      url('../fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Bold.eot');
  src: local('Poppins Bold'), local('Poppins-Bold'),
      url('../fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
      url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
      url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
      url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
      url('../fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-Medium.woff') format('woff'),
      url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
      url('../fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
      url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
.fw-black{
  font-weight: 900;
  font-style: normal;
}

/* AppTheme */
   :root{
     /* Colors */
      /* Active-colors */ 
      --cl-active-dark: #098761;
      --cl-active: #0a996f;
      --cl-active-light: #d7fec8;

      /* Light-colors */
      --cl-light:#f1f1f1;
      --cl-lighter-dark:#E1E1E1;
      --cl-lighter:#fefffc;
      --cl-lighter-light: #efeeec;

      /* Dark-colors */
      --cl-darker-dark: #141414;
      --cl-darker: #1b1b1b;
      --cl-darker-light: #525252;

      /* Secondary-colors */
      --cl-secondary-dark: #C23C02;
      --cl-secondary: #EC4701;
      --cl-secondary-light: #ECE5D2;
   }

/* Backgrounds */
    /* Active-colors */
   .bg-active{ background-color: var(--cl-active) !important; }
   .bg-active-dark{ background-color: var(--cl-active-dark) !important; }  
   .bg-active-light{ background-color: var(--cl-active-light) !important; } 

   /* Lighter-colors */
   .bg-lighter{ background-color: var(--cl-lighter) !important; }
   .bg-lighter-dark{ background-color: var(--cl-lighter-dark) !important; }  
   .bg-lighter-light{ background-color: var(--cl-lighter-light) !important; } 

   
    /* Darker-colors */
   .bg-darker{ background-color: var(--cl-darker) !important; }
   .bg-darker-dark{ background-color: var(--cl-darker-dark) !important; }  
   .bg-darker-light{ background-color: var(--cl-darker-light) !important; }
    
   
    /* Secondary-colors */
   .bg-secondary{ background-color: var(--cl-secondary) !important; }
   .bg-secondary-dark{ background-color: var(--cl-secondary-dark) !important; }  
   .bg-secondary-light{ background-color: var(--cl-secondary-light) !important; } 

/* Text-Colors */
    /* Active-colors */
    .tc-active{ color: var(--cl-active) !important; }
    .tc-active-dark{ color: var(--cl-active-dark) !important; }  
    .tc-active-light{ color: var(--cl-active-light) !important; } 
 
    /* Lighter-colors */
    .tc-lighter{ color: var(--cl-lighter) !important; }
    .tc-lighter-dark{ color: var(--cl-lighter-dark) !important; }  
    .tc-lighter-light{ color: var(--cl-lighter-light) !important; } 
 
    
     /* Darker-colors */
    .tc-darker{ color: var(--cl-darker) !important; }
    .tc-darker-dark{ color: var(--cl-darker-dark) !important; }  
    .tc-darker-light{ color: var(--cl-darker-light) !important; }
     
    
     /* Secondary-colors */
    .tc-secondary{ color: var(--cl-secondary) !important; }
    .tc-secondary-dark{ color: var(--cl-secondary-dark) !important; }  
    .tc-secondary-light{ color: var(--cl-secondary-light) !important; }    


/* Global-Components */ 
/* Banners-mixing */
.sub-bottom {
  z-index: 1;
  padding-bottom:150px !important;
}
.sub-top {
margin-top: -150px;
z-index: 3; 
} 
.round-all{
  border-radius: 150px 150px 0px 0px !important;
} 
.gradient-container{
  position: relative;
} 
.banner-gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color:  var(--cl-darker-dark);
  opacity: 0.7;
  z-index:2;
}
.gradient-content{
  position: relative;
  z-index:3 !important;
}
.gradient-bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  z-index:1;
}


/* Body && Components */
  body{
    background-color: var(--cl-lighter);
    color: var(--cl-darker);
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.9em; 
  }
  a{
    text-decoration: none;
    color: inherit !important;
  }
  .btn, .form-control {
    box-shadow: none !important;
  }
  ul{
    list-style-type: none !important;
  }
  .dropdown .dropdown-toggle::after{
    content: "" !important;
    border: none !important;
  }
  .cursor-p{ cursor:pointer !important;}
  .ovf-hide{ overflow: hidden;}
  .ovf-x-hide{ overflow-x: hidden;}
  .ovf-y-hide{ overflow-y: hidden;}

  /* Buttons */
  .btn:not(.btn-default){
     border-radius: 16px;
     padding: 10px 25px 10px 25px;
     border: none;
  }
  .btn-active, .btn-darker { 
    color:var(--cl-lighter-light) !important; 
  }
  .btn-active:active, .btn-darker:active{
    opacity:0.9 !important; 
  }

  /* Active-Buttons */
  .btn-active{
     background-color: var(--cl-active);
  }
  .btn-active:active{ 
    background-color: var(--cl-active-light) !important; 
  }
  .btn-active:hover{
    background-color: var(--cl-active-dark) !important; 
  }

  .btn-outline-active{
    background-color: transparent !important;
    border: 1px solid var(--cl-active) !important;
    color:var(--cl-active-dark) !important;
 }
 .btn-outline-active:active{ 
  border: 1px solid var(--cl-active-light) !important;
  background-color: var(--cl-active-dark) !important;
  opacity: 0.9;
 }
 .btn-outline-active:hover{
  border: 1px solid var(--cl-active) !important;
  background-color: var(--cl-active) !important; 
  color:var(--cl-lighter) !important;
 }

 /* Dark-Buttons */ 
 .btn-darker{
    background-color: var(--cl-darker);
 }
 .btn-darker:active{ 
   background-color: var(--cl-darker-light) !important; 
 }
 .btn-darker:hover{
   background-color: var(--cl-darker-dark) !important; 
 }
 .btn-outline-darker{ 
  background-color: var(--cl-lighter-light) !important;
  border:1px solid var(--cl-lighter-dark) !important;
  color: var(--cl-darker) !important;
}
.btn-outline-darker:active{  
  opacity: 0.9;
  background-color: var(--cl-lighter) !important; 
}
.btn-outline-darker:hover{
  background-color: var(--cl-lighter) !important;
}


/* Forms & Inputs */
.input-active:focus{
  border: 1px solid var(--cl-active);
}
.div-active:focus-within {
  border: 1px solid var(--cl-active) !important;
}
.div-active:focus-within .bi{
  color: var(--cl-active) !important;
}
.link-active, .link-dark, .link-light {
  cursor: pointer !important;
  color: inherit;
}
.link-active:hover { 
   color: var(--cl-active) !important;
}
.link-active:active{
  color: var(--cl-active-dark) !important;
}
.link-dark:hover {
   color: var(--cl-darker) !important;
}
.link-dark:active{
  color: var(--cl-darker-dark) !important;
}
.link-light.active {  color: var(--cl-lighter-light) !important;  opacity: 1 !important; }
.link-light:active{
  color: var(--cl-lighter-dark) !important;
  opacity: 0.9 !important;
}
.link-light:focus{
  color: var(--cl-lighter-light) !important;
  opacity: 1 !important;
}