<!-- GlobalFooter --> 
    <footer class="global-footer">
        <div class="container-fluid col-md-11 py-5 my-3"> 
            <div class="navbar navbar-expand-lg py-3 mb-5 border border-top-0 border-end-0 border-start-0 border-2">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="">
                        <img src="assets/gallery/Evergreen-farms-logo-caption.png" width="190" alt="evergreen-farms-logo" />
                      </a> 
                        <ul class="navbar-nav d-flex fs-4 tc-darker-light ms-auto mb-2 mb-lg-0"> 
                          <li class="nav-item mx-1 ms-0">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-google-play"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-facebook"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-linkedin"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-instagram"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-twitter"></span></a>
                          </li> 
                          <li class="nav-item mx-1 ms-0">
                            <a class="link-active nav-link" aria-current="page" href="#"><span class="bi bi-whatsapp"></span></a>
                          </li> 
                        </ul>  
                    </div> 
            </div>
            <div class="row mt-4">
                <div class="col-md-4 mx-lg-auto">
                </div>

                <div class="col-md-2 mx-lg-auto">
                  <h5 class="fs-6 fw-medium tc-darker-dark">COMPANY</h5>
                  <ul class="list-unstyled text-small mt-4 small fw-semibold tc-darker">
                    <li class="my-1"><a class="link-active text-decoration-none" href="#">Home</a></li>
                    <li class="my-1"><a class="link-active text-decoration-none" href="#">Our mission</a></li> 
                    <li class="my-1"><a class="link-active text-decoration-none" href="#">Marketplace</a></li> 
                    <li class="my-1"><a class="link-active text-decoration-none" href="#">Shops</a></li> 
                    <li class="my-1"><a class="link-active text-decoration-none" href="#">Create an account</a></li> 
                  </ul>
                </div>   
                 

              <div class="col-md-2 mx-lg-auto">
                <h5 class="fs-6 fw-medium tc-darker-dark">ABOUT</h5>
                <ul class="list-unstyled text-small mt-4 small fw-semibold tc-darker">
                  <li class="my-1"><a class="link-active text-decoration-none" href="#">Why Evergreen ?</a></li>
                  <li class="my-1"><a class="link-active text-decoration-none" href="#">About us</a></li> 
                  <li class="my-1"><a class="link-active text-decoration-none" href="#">Team</a></li>  
                  <li class="my-1"><a class="link-active text-decoration-none" href="#">Careers</a></li> 
                </ul>
              </div> 
               

            <div class="col-md-2 mx-lg-auto">
              <h5 class="fs-6 fw-medium tc-darker-dark">COMMUNITY</h5>
              <ul class="list-unstyled text-small mt-4 small fw-semibold tc-darker">
                <li class="my-1"><a class="link-active text-decoration-none" href="#">Blog</a></li>
                <li class="my-1"><a class="link-active text-decoration-none" href="#">Articles</a></li> 
                <li class="my-1"><a class="link-active text-decoration-none" href="#">Partners</a></li> 
                <li class="my-1"><a class="link-active text-decoration-none" href="#">Customer Stories</a></li>  
              </ul>
            </div> 
             

          <div class="col-md-2 mx-lg-auto">
            <h5 class="fs-6 fw-medium tc-darker-dark">SUPPORT</h5>
            <ul class="list-unstyled text-small mt-4 small fw-semibold tc-darker">
              <li class="my-1"><a class="link-active text-decoration-none" href="#">FAQ</a></li>
              <li class="my-1"><a class="link-active text-decoration-none" href="#">Contact us</a></li> 
              <li class="my-1"><a class="link-active text-decoration-none" href="#">Products</a></li> 
              <li class="my-1"><a class="link-active text-decoration-none" href="#">Mail</a></li> 
              <li class="my-1"><a class="link-active text-decoration-none" href="#">Whatsapp</a></li> 
            </ul>
          </div> 

              </div>

             <br>
              <div class="navbar navbar-expand-lg py-2 mt-5 border border-bottom-0 border-end-0 border-start-0 border-2">
                <div class="container-fluid"> 
                    <ul class="navbar-nav small tc-darker-light fw-semibold ms-auto mt-2 mb-lg-0">
                      <li class="nav-item mx-1">
                        <a class="link-active nav-link" aria-current="page" href="#">Privacy</a>
                      </li>  
                      <li class="nav-item mx-1">
                        <a class="link-active nav-link" aria-current="page" href="#">User Agreement</a>
                      </li> 
                      <li class="nav-item mx-1">
                        <a class="link-active nav-link" aria-current="page" href="#">Legal Notice</a>
                      </li> 
                      
                      <li class="nav-item mx-1">
                        <a class="nav-link" aria-current="page">&COPY; Evergreen Farms Limited.  All rights reserved</a>
                      </li> 
                    </ul>  
                </div> 
        </div>
        </div>
      </footer> 
<!-- /**GlobalFooter -->