<!-- GlobalFooter --> 
    <footer class="global-footer">
        <div class="container-fluid col-md-11 py-5 my-3"> 
            <div class="navbar navbar-expand-lg py-3 mb-5 border border-top-0 border-end-0 border-start-0 border-1">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="">
                        <img src="assets/gallery/Evergreen-farms-logo-caption.png" width="190" alt="evergreen-farms-logo" />
                      </a> 
                        <ul class="navbar-nav fs-4 tc-darker-light ms-auto mb-2 mb-lg-0">
                          <li class="nav-item mx-1">
                            <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-facebook"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-linkedin"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-instagram"></span></a>
                          </li> 
                          <li class="nav-item mx-1">
                            <a class="nav-link active" aria-current="page" href="#"><span class="bi bi-twitter"></span></a>
                          </li> 
                        </ul>  
                    </div> 
            </div>
            <div class="row mt-4">
                <div class="col-md-4 mx-lg-auto">
                </div>
                <div class="col-md-2 mx-lg-auto">
                  <h5>Features</h5>
                  <ul class="list-unstyled text-small">
                    <li><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                    <li><a class="link-secondary text-decoration-none" href="#">Random feature</a></li> 
                  </ul>
                </div>   
              </div>
        </div>
      </footer> 
<!-- /**GlobalFooter -->